<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.developer.associated-domains</key>
    <array>
        <string>applinks:d3nnqcgewrb4f0.cloudfront.net</string>
        <string>applinks:dzr6ldib1w492.cloudfront.net</string>
        <string>applinks:dee2wx7h03hqb.cloudfront.net</string>
    </array>
    <key>com.apple.security.application-groups</key>
    <array>
        <string>group.app.chencang.shared</string>
    </array>
    <key>keychain-access-groups</key>
    <array>
        <string>$(AppIdentifierPrefix)app.chencang.shared</string>
    </array>
</dict>
</plist>
